body{
    background-color: rgb(148, 157, 173);
    padding: 5%;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    background-color: darkcyan;
}
.inputs{
    background-color: darkcyan;
    padding: 10px;
    padding-bottom: 25px;
    
}
#firstname, #lastname, #idnum, #annualsal, #jobtitle{
    padding: 10px;
    border-radius: 25px;
}
#submit{
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    float: right;
    border-radius: 25px;
}
#output{
    padding-top: 15px;
    font-size: 30px;

}
table, th {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: darkgray;
    padding: 10px;
  }
  td {
      background-color: lightgray;
      border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }
  .red{
      background-color: red;
  }

  .regular{
    background-color: darkcyan;
  }